y
<!-- <div>
  <h2>{{ 'HOME.TITLE' | translate }}</h2>
  <span *ngFor="let home of 'HOME.SELECT' | translate ">
    {{ home }}
  </span>
 
  <label> -->
<!-- {{ 'HOME.SELECT' | translate }} -->
<!-- <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label> 
</div>-->
<div class="container">
  <div class="flex" id="banner">
    <h1 [innerHTML]="'HOME.BANNER.H1' | translate"></h1>
    <div class="content" [innerHTML]="'HOME.BANNER.P' | translate">
    </div>
  </div>
</div>