#header {
    background: rgba(0, 0, 0, .02);
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    /* position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; */
    margin-bottom: 100px;
}

#logo {
    float: left;
    margin-right: 100px;
    padding: 10px 0;
}

#navigation {
    font-size: 3.6em;
}

.language-changer {
    font-size: 3.6em;
    text-align: center;
}
.navbar-nav li{
    position: relative;
}
.navbar-nav ul{
    position: absolute;
    left:0;
    top: 100%;
    white-space: nowrap;
    padding: 10px;
    background: rgb(231, 231, 231);
    border-radius: 5px;
    font-size: .8em;
}