<!-- <div>
  <h2>{{ 'PHP.TITLE' | translate }}</h2>
  <span *ngFor="let PHP of 'PHP.SELECT' | translate ">
    {{ PHP }}
  </span>
 
  <label> -->
<!-- {{ 'PHP.SELECT' | translate }} -->
<!-- <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label> 
</div>-->
<div class="container component">
  <div class="flex" id="banner">
    <h1 [innerHTML]="'PHP.BANNER.H1' | translate"></h1>
    <p *ngFor="let para of 'PHP.BANNER.P' | translate" [innerHTML]="para"></p>
  </div>
</div>