.container {
    height: 100%;
}
#banner{
    position: relative;
    padding-bottom: 200px;
    margin-bottom: 100px;
}
.flex {
    display: flex;
    min-height: 100%;
    align-items: center;
}

h1 {
    min-width: 350px;
    margin-right: 50px;
}

p {
    font-size: 30px;
}