<!-- <div>
  <h2>{{ 'HOME.TITLE' | translate }}</h2>
  <span *ngFor="let home of 'HOME.SELECT' | translate ">
    {{ home }}
  </span>
 
  <label> -->
<!-- {{ 'HOME.SELECT' | translate }} -->
<!-- <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label> 
</div>-->
<div class="container component">
  <ul class="default">
    <li>
        <a routerLink="/multilanguage">Multi Language</a>
    </li>
  </ul>
  <div class="flex" id="banner">
    <!-- <h1 [innerHTML]="'HOME.BANNER.H1' | translate"></h1> -->
    <h1 [innerHTML]="'HOME.BANNER.H1' | translate:{value: 'world'}"></h1>
    <!-- <div class="content" [innerHTML]="'HOME.BANNER.P' | translate:{value: 'world'}"> -->
    <div class="content" [innerHTML]="'HOME.BANNER.P' | translate:param">
    </div>
    <!-- <div class="content" [innerHTML]="'HOME.BANNER.s' | translate:param"></div> -->
  </div>
  <div class="flex" id="banner">
    <!-- <div class="content">
      <p *ngFor="let P of 'HOME.BANNER.P' | translate" [innerHTML]="P"></p>
    </div> -->
    <h1 [innerHTML]="'HOME.BANNER.H1' | translate:{value: 'world'}"></h1>
    <p *ngFor="let para of 'HOME.BANNER.para' | translate" [innerHTML]="para"></p>
  </div>
</div>